.full-height{
    height: 100vh;
}

.profile-container {
    background-color: #eaf5f5;
    padding: 0px;
}

.top-profile {
    position: relative;
    padding-top: 12%;
    background-image: linear-gradient(cyan, #eaf5f5);
    width: 100%;
}

.top-profile img {
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 100%; 
    width: 20%; 
}

.user-info {
    padding-top: 15%;
}

.bio {
    max-width: 100%;
    margin: 0 auto;
    word-wrap: break-word;
}

.endereco {
    width: 100%;
    padding-inline: 7%;
}

.endereco p {
    border: 1px solid black;
    padding: 5px;
}

.side-container{
    background-color: cyan;
    
}